%% -*- mode: erlang -*-
{ erl_opts
, [ debug_info
  , strict_validation
  , warn_export_vars
  , warn_exported_vars
  , warn_missing_spec
  , warnings_as_errors
  ]
}.

{deps, []}.

{profiles, [{test, [{deps, [{jsx, "3.0.0"}]}]}]}.

{project_plugins, [{tqformat, "0.1.2"}]}.

{tqformat, [{files, ["{src,test}/*.{hrl,erl,app.src}", "rebar.config"]}, {width, 96}]}.
